!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/
    %title= current_page.data.title || "ZDH Portfolio"
    %link{href: "https://fonts.googleapis.com/css?family=Montserrat&display=swap", rel: "stylesheet"}/
    %link{href: "https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css", rel: "stylesheet"}/
    %link{href: "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css", rel: "stylesheet"}/
    = stylesheet_link_tag "hover"
    = stylesheet_link_tag "site"
    = javascript_include_tag "site"
  %body
    = yield
