.projects
    - data.projects.each do |project|
        .project{id: "#{project.id}"}
            %figure.hover.effect-8
                .hover-image{alt: "", style: "background-image: url('#{project.image}')"}
                    %h3.hover-title
                    %figcaption.hover-caption
                        %h3= project[:name]
                        %p= project[:description]
                        %a.hover-button{href: "#{project.url}", class: "fa fa-github", target: "_blank"}