= partial 'partials/hero'
= partial 'partials/aboutme'
= partial 'partials/threeSteps'
= partial 'partials/projects'
= partial 'partials/languages'
= partial 'partials/social'

-# https://www.w3schools.com/howto/howto_css_social_media_buttons.asp
-# http://mattfarley.ca/
-# http://konpa.github.io/devicon/
-# http://htmltohaml.com/
-# https://middlemanapp.com/basics/helper-methods/